* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #f5f5f5;
  }
  

.mainHeading {
    text-transform: uppercase;
	background: linear-gradient(to right, #5a5d4c 0%, #B4770A 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.custom-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 96px;
}



@import url("leaflet/dist/leaflet.css");

  .simpleMap{
  
    position: relative;
    bottom: 2vh;
    /* top: 3vh; */
    height: 78vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    outline-style: none;
    padding: 50px;
  }